

#showcase{position: sticky; top:0;}



.radio-toolbar .radio input[type="radio"] {
  display: none !important;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

.radio-toolbar .radio {     /* style the wrapper */
    position: relative;     /* allows to "hide" the radio (won't occupy space) */
    display: inline-block;  /* show wrappers in horizontal line */
}

.radio-toolbar input[type="radio"] { /* hide the <input> */
    position: absolute;
    z-index: -1;
}

.radio-toolbar input[type="radio"]:checked + label { /* target the <label> */
  background-color: #7A9E9F;                            /* changed to more obvious color */
  color: white;
}

.radio-toolbar input {
    visibility:hidden;
}

span.icons {
    visibility:hidden;
}

.radio {
    margin-bottom: 0px !important;
    padding-left: 5px !important;
    }

#predict-button, #upload-button{
	width: 80%;
	margin: 0 auto;
}