<ul>
{% block content %}
	<li>
		<img id="selected-image-ajax" src="{{url_for('static',filename=mylist)}}"  class="img-thumbnail" style="display:block; margin:auto;">{{mylist}}</img>
	</li>
{% endblock content %}
</ul>
