<!-- <!doctype html> -->
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/aaron.css')}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Classifier</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}"  rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{url_for('static',filename='assets/css/animate.min.css')}}"  rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{{url_for('static',filename='assets/css/paper-dashboard.css')}}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{url_for('static',filename='assets/css/demo.css')}}"  rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel='stylesheet' type='text/css'>
    <link href="{{url_for('static',filename='assets/css/themify-icons.css')}}" rel="stylesheet">

</head>
<body>

	<div class="wrapper">
	    <div class="sidebar" data-background-color="white" data-active-color="danger">

	    <!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->

	    	<div class="sidebar-wrapper">
	            <div class="logo">
	                    <img src="{{url_for('static',filename='assets/img/aboutyoulogo.png')}}" class="img-thumbnail" style="display:block; margin:auto;"></img>
	            </div>

	            <ul class="nav">
	                <li class="active">
	                    <a href="{{url_for('home')}}">
	                        <i class="ti-panel"></i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="{{url_for('account')}}">
	                        <i class="ti-user"></i>
	                        <p>User Profile</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="{{url_for('database')}}">
	                        <i class="ti-view-list-alt"></i>
	                        <p>Table List</p>
	                    </a>
	                </li>

					<li class="active-pro">
	                    <div id="ajax-field"></div>
											<p>{{photo}}</p>
											<div class='image_display'>
												<img src="./static/image_uploads/1_files/{{photo}}" id='photo_display' height="100" width="100">
												<table>
												 <tr>
													 <td class='back'></td>
													 <td class='forward'><button id='go_forward' class='navigate'>Forward</button></td>
												 </tr>
												</table>
											</div>

	                    <button class="btn btn-block"  id="predict-button"><p>Predict!</p></button>
											<button class="btn btn-block"  id="predict-batch-button"><p>Predict!</p></button>

	                    <label class="btn btn-block btn-file" id="upload-button">

	                        <i class="ti-export"></i>
	                        <p>Upload Bilder</p> <input id="image-selector" type="file" style="display: none;">
	                    </label>

	                </li>
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
	        <nav class="navbar navbar-default">
	            <div class="container-fluid">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar bar1"></span>
	                        <span class="icon-bar bar2"></span>
	                        <span class="icon-bar bar3"></span>
	                    </button>
	                    <a class="navbar-brand" href="#">Dashboard</a>
	                </div>
	                <div class="collapse navbar-collapse">
	                    <ul class="nav navbar-nav navbar-right">

	                        <li>
	                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                                <i class="ti-panel"></i>
									<p>Stats</p>
	                            </a>
	                        </li>
	                        <li class="dropdown">
	                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                                    <i class="ti-bell"></i>
	                                    <p class="notification">5</p>
										<p>Notifications</p>
										<b class="caret"></b>
	                              </a>
	                              <ul class="dropdown-menu">
	                                <li><a href="#">Notification 1</a></li>
	                                <li><a href="#">Notification 2</a></li>
	                                <li><a href="#">Notification 3</a></li>
	                                <li><a href="#">Notification 4</a></li>
	                                <li><a href="#">Another notification</a></li>
	                              </ul>
	                        </li>
							<li>
	                            <a href="#">
									<i class="ti-settings"></i>
									<p>Settings</p>
	                            </a>
	                        </li>

	                        {% if current_user.is_authenticated %}
	                         <li>
	                            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a></li>
	                          <li>  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
	                          {% else %}
	                            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
	                            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
	                        {% endif %}
	                    </ul>

	                </div>
	            </div>
	        </nav>


	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-3 col-sm-6">
	                        <div class="card" style="padding-bottom: 10px; padding-top: 10px;">
	                            <div class="content">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <div class="icon-big icon-primary text-center">
	                                            <i class="ti-save"></i>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-9">
	                                            <button type="button" class="btn btn-success btn-block">Bearbeiten</button>
	                                            <button type="button" class="btn btn-danger btn-block">Bild löschen</button>


	                                    </div>
	                                </div>
	                                <div class="footer">
	                                    <!-- <hr /> -->

	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-sm-6">
	                        <div class="card">
	                            <div class="content">
	                                <div class="row">
	                                    <div class="col-xs-5">
	                                        <div class="icon-big icon-warning text-center">
	                                            <i class="ti-server"></i>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-7">
	                                        <div class="numbers">
	                                            <p>Capacity</p>
	                                            105GB
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="footer">
	                                    <hr />
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated now
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-sm-6">
	                        <div class="card">
	                            <div class="content">
	                                <div class="row">
	                                    <div class="col-xs-5">
	                                        <div class="icon-big icon-success text-center">
	                                            <i class="ti-image"></i>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-7">
	                                        <div class="numbers">
	                                            <p>Bilder</p>
	                                            245/320
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="footer">
	                                    <hr />
	                                    <div class="stats">
	                                        <i class="ti-calendar"></i> Last day
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-sm-6">
	                        <div class="card">
	                            <div class="content">
	                                <div class="row">
	                                    <div class="col-xs-5">
	                                        <div class="icon-big icon-danger text-center">
	                                            <i class="ti-pulse"></i>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-7">
	                                        <div class="numbers">
	                                            <p>Errors</p>
	                                            23                                        </div>
	                                    </div>
	                                </div>
	                                <div class="footer">
	                                    <hr />
	                                    <div class="stats">
	                                        <i class="ti-timer"></i> In the last hour
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	<!--                     <div class="col-lg-3 col-sm-6">
	                        <div class="card">
	                            <div class="content">
	                                <div class="row">
	                                    <div class="col-xs-5">
	                                        <div class="icon-big icon-info text-center">
	                                            <i class="ti-twitter-alt"></i>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-7">
	                                        <div class="numbers">
	                                            <p>Followers</p>
	                                            +45
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="footer">
	                                    <hr />
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated now
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div> -->
	                </div>
	                <div class="row">

	                    <div class="col-md-3" id="showcase" style="position: sticky; top:0;">
	                        <div class="card">
	                            <div class="header">
	                                <h4 class="title">Produktbild</h4>
	                                <p class="category">Artikel-Nummer: #48564285W</p>
	                            </div>
	                            <div class="content">
	                                    <!-- WIRD VON JAVASCRIPT BEFÜLLT  -->
	                                <img id="selected-image" src="{{url_for('static',filename='assets/img/img1.jpg')}}"  class="img-thumbnail" style="display:block; margin:auto;"></img>

	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                    <hr>

	                                        <button type="button" class="btn btn-info btn-block">Änderungen speichern</button>



	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-9">
	                        <div class="card red">
	                            <div class="header">
	                                <h4 class="title">Kategorie</h4>

	<!--                                 <p class="category">24 Hours performance</p> -->
	                            </div>
	                            <div class="content">
	                                <div id="chartHours1" class="ct-chart1"></div>
	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>

	                                    <div class="btn-group" data-toggle="buttons">
	                                        <!-- INPUT KERAS BUTTONS -->
	                                          <p><span id=predictions-maincat></span></p>
	                                          <div class="row">
	                                              <div class="col-sm-4"><div id="dataList"> </div></div>
	                                             <!--  <div class="col-sm-4"><div id="radioBtn"></div></div> -->
	                                            </div>
	                                    </div>

	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="card red">
	                            <div class="header">
	                                <h4 class="title">Sub-Kategorie</h4>

	<!--                                 <p class="category">24 Hours performance</p> -->
	                            </div>
	                            <div class="content">
	                                <div id="chartHours1" class="ct-chart1"></div>
	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>

	                                    <div class="btn-group" data-toggle="buttons">
	                                        <!-- INPUT KERAS BUTTONS -->
	                                          <p><span id=predictions-outputs></span></p>
	                                          <div class="row">
	                                              <div class="col-sm-4"><div id="dataList"> </div></div>
	                                             <!--  <div class="col-sm-4"><div id="radioBtn"></div></div> -->
	                                            </div>
	                                    </div>

	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="card red">
	                            <div class="header">
	                                <h4 class="title">Farbe</h4>
	<!--                                 <p class="category">24 Hours performance</p> -->
	                            </div>
	                            <div class="content">
	                                <div id="chartHours1" class="ct-chart1"></div>
	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>

	                                    <div class="btn-group" data-toggle="buttons">
	                                        <p><span id=predictions-farbe></span></p>
	                                    </div>

	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="card red">
	                            <div class="header">
	                                <h4 class="title">Armlänge</h4>
	<!--                                 <p class="category">24 Hours performance</p> -->
	                            </div>
	                            <div class="content">
	                                <div id="chartHours1" class="ct-chart1"></div>
	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>

	                                    <div class="btn-group" data-toggle="buttons">
	                                        <p><span id=predictions-armlaenge></span></p>
	                                    </div>

	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                        <div class="card red">
	                            <div class="header">
	                                <h4 class="title">Muster</h4>
	<!--                                 <p class="category">24 Hours performance</p> -->
	                            </div>
	                            <div class="content">
	                                <div id="chartHours1" class="ct-chart1"></div>
	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>

	                                    <div class="btn-group" data-toggle="buttons">
	                                        <p><span id=predictions-muster></span></p>
	                                    </div>

	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>




	                        <div class="card red">
	                            <div class="header">
	                                <h4 class="title">Attribute</h4>
	<!--                                 <p class="category">24 Hours performance</p> -->
	                            </div>
	                            <div class="content">
	                                <div id="chartHours1" class="ct-chart1"></div>
	                                <div class="footer">
	<!--                                     <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Click
	                                        <i class="fa fa-circle text-warning"></i> Click Second Time
	                                    </div> -->
	                                    <hr>

	                                    <div class="btn-group" data-toggle="buttons">
	                                          <label class="btn btn-primary active">
	                                            <input type="checkbox" name="options" id="option1"> Fell (82%)
	                                          </label>
	                                          <label class="btn btn-primary active">
	                                            <input type="checkbox" name="options" id="option2"> Gesteppt (63%)
	                                          </label>
	                                          <label class="btn btn-primary active">
	                                            <input type="checkbox" name="options" id="option3"> Tailliert (52%)
	                                          </label>
	                                          <label class="btn btn-primary">
	                                            <input type="checkbox" name="options" id="option4"> Reisverschluss (2%)
	                                          </label>
	                                          <label class="btn btn-primary">
	                                            <input type="checkbox" name="options" id="option4"> Knöpfe (2%)
	                                          </label>


	                                    </div>

	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-reload"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	<!--                 <div class="row">
	                    <div class="col-md-6">
	                        <div class="card">
	                            <div class="header">
	                                <h4 class="title">Email Statistics</h4>
	                                <p class="category">Last Campaign Performance</p>
	                            </div>
	                            <div class="content">
	                                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

	                                <div class="footer">
	                                    <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Open
	                                        <i class="fa fa-circle text-danger"></i> Bounce
	                                        <i class="fa fa-circle text-warning"></i> Unsubscribe
	                                    </div>
	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-timer"></i> Campaign sent 2 days ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="card ">
	                            <div class="header">
	                                <h4 class="title">2015 Sales</h4>
	                                <p class="category">All products including Taxes</p>
	                            </div>
	                            <div class="content">
	                                <div id="chartActivity" class="ct-chart"></div>

	                                <div class="footer">
	                                    <div class="chart-legend">
	                                        <i class="fa fa-circle text-info"></i> Tesla Model S
	                                        <i class="fa fa-circle text-warning"></i> BMW 5 Series
	                                    </div>
	                                    <hr>
	                                    <div class="stats">
	                                        <i class="ti-check"></i> Data information certified
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div> -->
	            </div>
	        </div>


	        <footer class="footer">
	            <div class="container-fluid">
	                <nav class="pull-left">
	                    <ul>

	                        <li>
	                            <a href="#">
	                                Impressium
	                            </a>
	                        </li>
	                        <li>
	                            <a href="http://blog.creative-tim.com">
	                               Blog
	                            </a>
	                        </li>
	                        <li>
	                            <a href="http://www.creative-tim.com/license">
	                                Licenses
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	                <div class="copyright pull-right">
	                </div>
	            </div>
	        </footer>

	    </div>
	</div>


</body>

    <!--   Core JS Files   -->
<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}" type="text/javascript"></script>
	<!-- <script src="assets/js/bootstrap.min.js" type="text/javascript"></script> -->

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{{url_for('static',filename='assets/js/bootstrap-checkbox-radio.js')}}" ></script>

	<!--  Charts Plugin -->
	<script src="{{url_for('static',filename='assets/js/chartist.min.js')}}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{url_for('static',filename='assets/js/bootstrap-notify.js')}}" ></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{{url_for('static',filename='assets/js/paper-dashboard.js')}}" ></script>





<!-- HIER STARTET DIE PARTY! -->
    <script>
            let base64Image;
            $("#image-selector").change(function(){
                let reader = new FileReader();
                reader.onload = function(e){
                    let dataURL = reader.result; //reader.result contains the image data as a url
										console.log("*****"+dataURL);
                    $('#selected-image').attr("src", dataURL); //set src of the image equal to dataURL -> displays image on page
                    base64Image = dataURL.replace("data:image/jpeg;base64,",""); //get the data from the URL for the image ## ONLY JPG!!!
                    //console.log(base64Image);
                }
                // now we load the selected image
                reader.readAsDataURL($("#image-selector")[0].files[0]); // wird ausgelöst sobald eine Datei hochgeladen wird. Anschließend wird reader.onload also der onload-handler ausgeführt.
                $("#predictions-outputs").text(""); // get rid of the previous text
                $("#predictions-farbe").text(""); // get rid of the previous text
                $("#predictions-armlaenge").text(""); // get rid of the previous text
                $("#predictions-maincat").text(""); // get rid of the previous text
                $("#predictions-muster").text(""); // get rid of the previous text
            });


            $("#predict-button").click(function(event){
                let message = {
                    image: base64Image
                }
                //console.log(message);

                $.post("/dashboard", JSON.stringify(message), function(response){
                    //console.log(response.prediction);
                        // Create items array
                        var items = Object.keys(response.prediction).map(function(key) {
                          return [key, (response.prediction[key]*100).toFixed(1)];
                        });

                        // Sort the array based on the second element
                        items.sort(function(first, second) {
                          return second[1] - first[1];
                        });


                        ////////////////////
                        /// FARBEN ----------------------------
                        var farben = Object.keys(response.farbe).map(function(key) {
                          return [toTitleCase(response.farbe[key])];
                        });

                        var rgb_werte = Object.keys(response.rgb_farbwerte).map(function(key) {
                          return [response.rgb_farbwerte[key]];
                        });



                        ///////////////////
                        /// Kategorie--------------------
                        var main_cat = Object.keys(response.main_cat).map(function(key) {
                          return [toTitleCase(key),(response.main_cat[key]*100).toFixed(1)];
                        });
                        // Sort the array based on the second element
                        main_cat.sort(function(first, second) {
                          return second[1] - first[1];
                        });
                        console.log(main_cat[0]);


                        ///////////////////
                        /// ARMLÄNGE--------------------
                        if (!["Jeans","Hosen","Shorts"].includes(main_cat[0][0])){
                        var arm_length = Object.keys(response.arm_length).map(function(key) {
                          return [toTitleCase(key),(response.arm_length[key]*100).toFixed(1)];
                        });
                        // Sort the array based on the second element
                        arm_length.sort(function(first, second) {
                          return second[1] - first[1];
                        });
                        //console.log(arm_length);
                        }

                        /////////////////////////////////
                        /// MUSTER-ERKENNUNG--------------------------
                        var muster = Object.keys(response.muster).map(function(key) {
                          return [toTitleCase(key),(response.muster[key]*100).toFixed(1)];
                        });
                        // Sort the array based on the second element
                        muster.sort(function(first, second) {
                          return second[1] - first[1];
                        });
                        //console.log(muster);


                function toTitleCase(str) {
                            return str.replace(/\w\S*/g, function(txt){
                                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                            });
                        }



                function makeUL(array,group_name) {
                    var item = document.createElement('div');
                    item.className = 'radio-toolbar';

                    for (var i = 0; i < array.length; i++) {

                      var wrapper = document.createElement('div'); // <-- create a wrapper element
                      var input = document.createElement('input');
                      var input_label = document.createElement('label');

                      input.type = 'radio';
                      input.name = 'radio-btn-'+group_name;
                      input.id = 'radio' + i;
                      input.checked = i === 0;
                      input.value = array[i]; // <-- <input>s should have different values

                      input_label.htmlFor = 'radio' + i; // <-- connect label to <radio> via for-attribute
                      console.log(group_name);
                      if (group_name != "group_farbe"){
                            input_label.innerHTML = array[i].toString().split(",")[0] + " " + array[i].toString().split(",")[1]+"%";

                      }else{
                            input_label.innerHTML = array[i];
                        }
                      input_label.className = "btn btn-primary";
                      input_label.appendChild(input);

                      wrapper.className = 'radio';      // <-- add a class to the wrapper
                      wrapper.appendChild(input);       // <-- add the <input>
                      wrapper.appendChild(input_label); // <-- add the <label>


                      item.appendChild(wrapper);        // <-- add wrapper to toolbar
                      //document.getElementById("car").appendChild(item);
                    }
                    return item

                }

                function createColorWindows(array) {
                // Create the list element:
                    var list = document.createElement('ul');
                    for (var i = 0; i < array[0][0].length; i++) {
                        // Create the list item:
                        var item = document.createElement('div');
                        // Set its contents:
                        item.appendChild(document.createTextNode(array[0][0][i]));
                        var input_label = document.createElement('li')
                        input_label.innerHTML = '<div style="width:50px;height:20px;background-color: rgba('+array[0][0][i]+');">'+'</div>'+'<p style="display:inline;vertical-align: top;">  ('+array[0][0][i]+')</p>'
                        //array[0][0][i]+


                        // Add it to the list:
                        list.appendChild(input_label);
                    }
                        // Finally, return the constructed list:
                    return list;
                }

                //HEX to RGB conversion
                function componentToHex(c) {
                        var hex = c.toString(16);
                        return hex.length == 1 ? "0" + hex : hex;
                    }

                    function rgbToHex(r, g, b) {
                        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
                    }


                $("#predictions-outputs").text(""); // get rid of the previous text
                $("#predictions-farbe").text(""); // get rid of the previous text
                $("#predictions-muster").text(""); // get rid of the previous text
                $("#predictions-maincat").text(""); // get rid of the previous text



                    //Predictions der Farben hinzufügen
                    document.getElementById('predictions-farbe').appendChild(
                        makeUL(farben, 'group_farbe')
                        );

                    //Farbfenster hinzufügen
                    document.getElementById('predictions-farbe').appendChild(
                        createColorWindows(rgb_werte)
                        );

                    if (!["Jeans","Hosen","Shorts"].includes(main_cat[0][0])){
                    document.getElementById('predictions-armlaenge').appendChild(
                        makeUL(arm_length.slice(0, 3), 'group_arm'));
                    }

                    //Hauptkategorie
                    document.getElementById('predictions-maincat').appendChild(
                        makeUL(main_cat.slice(0, 3), 'maincat'));

                    //Predictions des Musters hinzufügen
                    document.getElementById('predictions-muster').appendChild(
                        makeUL(muster.slice(0, 3), 'group_muster')
                        );
                    // Predictions der Subkategorie hinzufügen und im Dashboard anzeigen
                    document.getElementById('predictions-outputs').appendChild(makeUL(items.slice(0, 3), 'group_subcategory'));

                });

            });
    </script>

<!-- ENDE DER PARTY - GO HOME -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



   <script>
    $(document).ready(function(){
      $('.image_display').on('click', '.navigate', function(){
        var direction = 'b';
        if ($(this).prop('id') === 'go_forward'){
          direction = 'f';
        }

        $.ajax({
         url: "/get_photo",
         type: "get",
         data: {direction: direction},
         success: function(response) {
           $('#photo_display').attr('src', './static/image_uploads/1_files/'+response.photo);
			           if (response.back === "True"){
			             $('.back').html("<button id='go_back' class='navigate'>Back</button>")
			           }
			           else{
			             $('#go_back').remove();
			           }
			           if (response.forward === "True"){
			             $('.forward').html("<button id='go_forward' class='navigate'>Forward</button>")
			           }
			           else{
			             $('#go_forward').remove();
			           }
//// ################ Starte Anzeige von Predictions
								 var items = Object.keys(response.predictions.prediction).map(function(key) {
									 return [key, (response.predictions.prediction[key]*100).toFixed(1)];
								 });

								 // Sort the array based on the second element
								 items.sort(function(first, second) {
									 return second[1] - first[1];
								 });


								 // Gleiches für Hauptkategorien
								 var main_cat = Object.keys(response.predictions.main_cat).map(function(key) {
									 return [key, (response.predictions.main_cat[key]*100).toFixed(1)];
								 });

								 // Sort the array based on the second element
								 main_cat.sort(function(first, second) {
									 return second[1] - first[1];
								 });

								 // function toTitleCase(str) {
                 //             return str.replace(/\w\S*/g, function(txt){
                 //                 return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                 //             });
                 //         }



                 function makeUL(array,group_name) {
                     var item = document.createElement('div');
                     item.className = 'radio-toolbar';

                     for (var i = 0; i < array.length; i++) {

                       var wrapper = document.createElement('div'); // <-- create a wrapper element
                       var input = document.createElement('input');
                       var input_label = document.createElement('label');

                       input.type = 'radio';
                       input.name = 'radio-btn-'+group_name;
                       input.id = 'radio' + i;
                       input.checked = i === 0;
                       input.value = array[i]; // <-- <input>s should have different values

                       input_label.htmlFor = 'radio' + i; // <-- connect label to <radio> via for-attribute
                       if (group_name != "group_farbe"){
                             input_label.innerHTML = array[i].toString().split(",")[0] + " " + array[i].toString().split(",")[1]+"%";

                       }else{
                             input_label.innerHTML = array[i];
                         }
                       input_label.className = "btn btn-primary";
                       input_label.appendChild(input);

                       wrapper.className = 'radio';      // <-- add a class to the wrapper
                       wrapper.appendChild(input);       // <-- add the <input>
                       wrapper.appendChild(input_label); // <-- add the <label>


                       item.appendChild(wrapper);        // <-- add wrapper to toolbar
                       //document.getElementById("car").appendChild(item);
                     }
                     return item

                 }
								 $("#predictions-outputs").text(""); // get rid of the previous text
								 document.getElementById('predictions-outputs').appendChild(makeUL(items.slice(0, 3), 'group_subcategory'));

                 //Hauptkategorie
								 $("#predictions-maincat").text("");
                 document.getElementById('predictions-maincat').appendChild(
                     makeUL(main_cat.slice(0, 3), 'maincat'));

         }

       });
      });
    });
   </script>


<script>
$(document).ready(function(){
	$('#predict-batch-button').on('click', function(){


		$.ajax({
		 url: "/dashboard-batch",
		 type: "get",
		 //data: {direction: direction},
		 success: function(response) {
			 alert(response.prediction);
			 //$('#photo_display').attr('src', './static/image_uploads/1_files/'+response.photo);

		 },

	 });
	});
});



</script>

<!--     <script>
        $('.btn').click(function() {

            $(this).toggleClass('btn-success');
        })
    </script> -->

</html>
