<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/aaron.css')}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Classifier</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}"  rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{url_for('static',filename='assets/css/animate.min.css')}}"  rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{{url_for('static',filename='assets/css/paper-dashboard.css')}}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{url_for('static',filename='assets/css/demo.css')}}"  rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{url_for('static',filename='assets/css/themify-icons.css')}}" rel="stylesheet">

</head>
<body>

    {% block content %}{% endblock %}


 <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>


    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{{url_for('static',filename='assets/js/jquery.min.js')}}" type="text/javascript"></script>
    <!-- <script src="assets/js/bootstrap.min.js" type="text/javascript"></script> -->

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{{url_for('static',filename='assets/js/bootstrap-checkbox-radio.js')}}" ></script>

    <!--  Charts Plugin -->
    <script src="{{url_for('static',filename='assets/js/chartist.min.js')}}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{url_for('static',filename='assets/js/bootstrap-notify.js')}}" ></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{{url_for('static',filename='assets/js/paper-dashboard.js')}}" ></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{{url_for('static',filename='assets/js/demo.js')}}" ></script>


</html>
