{% extends "dash_layout.html" %}
{% block content %}

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    {{ current_user.username }}
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a href="{{url_for('home')}}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('account')}}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{{url_for('database')}}">
                        <i class="ti-view-list-alt"></i>
                        <p>Table List</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Table List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Striped Table</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Dateiname</th>
                                    	<th>Datum</th>
                                    </thead>
                                    <tbody>
								    	{% for file in data%}
										  <tr>
										    <td>{{ file.filename}}</td>
										    <td>{{ file.date_posted}}</td> 
										  </tr>
									    {%endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    	<div class="card">
                            <div class="header">
                                <h4 class="title">Striped Table</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Eigene Taxonomie</th>
                                    	<th>Eigene Kategorie</th>
                                    	<th>Original Taxonomie</th>
                                    	<th>Original Kategorie</th>
                                    	<th></th>
                                    </thead>
                                    <tbody>
								    	{% for item,org_item in item_database%}
										  <tr>
										    <td>{{ item.item_name}}</td>
										    <td>{{ item.item_category}}</td> 
										    <td>{{ org_item.item_name}}</td>
										    <td>{{ org_item.item_category}}</td> 
										    <td><a href="{{url_for('items',item_id=item.id)}}" class="btn btn-info" role="button">Bearbeiten</a></td>
										  </tr>
									    {%endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
{% endblock content %}
       
