{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.category.label(class="form-control-label") }}
                    {{ form.category(class="form-control form-control-lg") }}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}

                <button class="btn btn-outline-info" formaction="{{url_for('database')}}" formmethod="GET">Zurück zur Übersicht</button>
            </div>
        </form>
        <table id="categories" class="table-striped">
		  <tr>
		    <th>{{ item.item_name}}</th>
		    <th>{{ item.item_category}}</th> 
		  </tr>
    	</table>
    </div>

{% endblock content %}





