{% extends "dash_layout.html" %}
{% block content %}

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    {{ current_user.username }}
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a href="{{url_for('home')}}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('account')}}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{{url_for('database')}}">
                        <i class="ti-view-list-alt"></i>
                        <p>Table List</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Table List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="card">
                            <div class="header">
                                <h4 class="title">Striped Table</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
																					<th>Dateiname</th>
																					<th>drei_viertel_hosen</th>
																					<th> Abendkleider</th>
																					<th> Blusenkleider</th>
																					<th> Brautkleider</th>
																					<th> Bundfaltenhosen</th>
																					<th> Business-Hosen</th>
																					<th> Chinos</th>
																					<th> Cocktailkleider</th>
																					<th> Cordhosen</th>
																					<th> Culottes</th>
																					<th> Etuikleider</th>
																					<th> Haremshosen</th>
																					<th> Jeanskleider</th>
																					<th> Jerseykleider</th>
																					<th> Lederhosen</th>
																					<th> Leggings</th>
																					<th> Marlenehosen</th>
																					<th> Parka</th>
																					<th> Shorts</th>
																					<th> Sommerkleider</th>
																					<th> Spitzenkleider</th>
																					<th> Steppjacken</th>
																					<th> Stoffhosen</th>
																					<th> Strickkleider</th>
																					<th> Sweatpants</th>
																					<th> blousons</th>
																					<th> bomberjacken</th>
																					<th> cargojacken</th>
																					<th> jeansjacken</th>
																					<th> lederjacken</th>
																					<th> outdoorjacken</th>
																					<th> regenjacken</th>
                                    </thead>
                                    <tbody>
								    	{% for item in db_predictions%}
										  <tr>
															<td>{{item.filename}}</td>
										    			<td>{{item.drei_viertel_hosen}}</td>
															<td>{{item.Abendkleider}}</td>
															<td>{{item.Blusenkleider}}</td>
															<td>{{item.Brautkleider}}</td>
															<td>{{item.Bundfaltenhosen}}</td>
															<td>{{item.Business_Hosen}}</td>
															<td>{{item.Chinos}}</td>
															<td>{{item.Cocktailkleider}}</td>
															<td>{{item.Cordhosen}}</td>
															<td>{{item.Culottes}}</td>
															<td>{{item.Etuikleider}}</td>
															<td>{{item.Haremshosen}}</td>
															<td>{{item.Jeanskleider}}</td>
															<td>{{item.Jerseykleider}}</td>
															<td>{{item.Lederhosen}}</td>
															<td>{{item.Leggings}}</td>
															<td>{{item.Marlenehosen}}</td>
															<td>{{item.Parka}}</td>
															<td>{{item.Shorts}}</td>
															<td>{{item.Sommerkleider}}</td>
															<td>{{item.Spitzenkleider}}</td>
															<td>{{item.Steppjacken}}</td>
															<td>{{item.Stoffhosen}}</td>
															<td>{{item.Strickkleider}}</td>
															<td>{{item.Sweatpants}}</td>
															<td>{{item.blousons}}</td>
															<td>{{item.bomberjacken}}</td>
															<td>{{item.cargojacken}}</td>
															<td>{{item.jeansjacken}}</td>
															<td>{{item.lederjacken}}</td>
															<td>{{item.outdoorjacken}}</td>
															<td>{{item.regenjacken}}</td>
										  </tr>
									    {%endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
{% endblock content %}
